.main {
  justify-self: center;
  text-align: center;
}

.main .cta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
}
  
.subtitle {
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin-bottom: 2rem;
}
  
.cta {
  display: flex;
  gap: 1.5rem;
}
  
.highlights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 4rem;
}
  
.highlight {
  padding: 1.5rem;
  background: rgba(27, 42, 35, 0.3);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  transition: transform 0.1s ease-in;
}
  
.highlight:hover {
  transform: scale(1.05);
}
  
.highlight h3 {
  margin-bottom: 1rem;
}
    
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
  
  .subtitle {
    font-size: 1.2rem;
  }
  
  .cta {
    flex-direction: column;
  }
}